@font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/poppins500.woff2") format("woff2"),
    url("../fonts/poppins500.woff") format("woff"); 
}
@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/poppins700.woff2") format("woff2"),
    url("../fonts/poppins700.woff") format("woff");
}


/* Global codes  */
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    font-weight: 500px;
    height: 100%;
}
img {
    display: block;
}
.container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}



/* site header start  */
.site-header__header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}
.site-header__small-inner {
    display: flex;
    align-items: center;
}
.site-header__nav {
    margin-left: 5px;
}
.site-header__list {
    display: flex;
    margin-left: 5px;
    list-style: none;
    margin: 0;
}
.site-header__item {
    margin-right: 30px;
}
.site-header__link {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
    color: #9E9AA8;
}
.site-header__link:hover {
    color: #34313D;
}
.site-header__links {
    display: flex;
    align-items: center;
}
.site-header__header-button {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    display: block;
    margin-left: 37px;
    padding: 9px 23px 8px 24px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #2BD0D0;
    border-radius: 28px;
}
.site-header__header-button:hover {
    background-color: #9AE3E3;;
}
/* site header finish  */


/* site main start  */
main {
    flex-grow: 1;
}

/* section hero start  */
.hero {
    margin-top: 78px;
    padding-top: 61px;
    padding-bottom: 222px;
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-position-x: 830px;
}
.hero__hero-title-box {
    width: 585px;
    margin-bottom: 5px;
}
.hero__hero-title {
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    margin: 0;
    color: #34313D;
}
.hero__hero-desc-box {
    width: 540px;
}
.hero__hero-desc {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.15px;
    margin: 0;
    color: #9E9AA8;
}
.hero__hero-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    margin-top: 38px;
    padding: 14px 40px 12px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #2BD0D0;
    border-radius: 28px;
}
.hero__hero-link:hover {
    background: #9AE3E3;
    border-radius: 28px;
}
/* section hero finish  */


/* statistics section start  */
.statistics {
    padding-bottom: 208px;
    background-color: #F2F2F2;
}
.major-form {
    position: relative;
    top: -84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 64px;
    background: #3A3054;
    border-radius: 10px;
}
.statistics__major-input {
    width: 768px;
    padding: 14px 32px;
    background: #FFFFFF;
    border-radius: 10px;
}
.statistics__major-input::placeholder {
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #34313D;
    opacity: 0.5;
}
.statistics__major-button {
    padding: 18px 40px 16px 41px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: #2BD0D0;
    border-radius: 10px;
}
.statistics__major-button:hover {
    background: #9AE3E3;
    border-radius: 10px;
}

.statistics__statistics-text-box {
    width: 540px;
    margin-top: 46px;
    margin-right: auto;margin-left: auto;
}
.statistics__statistics-title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: #34313D;
}
.statistics__statistics-desc {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.122727px;
    color: #9E9AA8;
}
.statistics__statistics-list {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-top: 100px;
    padding-left: 0;
}
.statistics__statistics-item {
    position: relative;
    width: 350px;
    padding: 77px 32px 41px 32px;
    background-color: #FFFFFF;
}
.statistics__statistics-item::before {
    content: "";
    position: absolute;
    top: -33px;
    background-image: url(../images/statistcsfirst.svg);
    width: 88px;
    height: 88px;
}
.statistics__statistics-item:nth-child(2) {
    bottom: -44px;
}
.statistics__statistics-item:nth-child(2)::before {
    content: "";
    position: absolute;
    top: -33px;
    background-image: url(../images/statisticssecond.svg);
    width: 88px;
    height: 88px;
}
.statistics__statistics-item:nth-child(3) {
    bottom: -88px;
}
.statistics__statistics-item:nth-child(3)::before {
    content: "";
    position: absolute;
    top: -33px;
    background-image: url(../images/statisticsthiird.svg);
    width: 88px;
    height: 88px;
}

.statistics__statistics-item-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    margin: 0;
    color: #34313D;
}
.statistics__statistics-item-desc {
    font-size: 15px;
    line-height: 26px;
    margin: 12px 0;
    color: #9E9AA8;
}
/* statistics section end  */


/* latest section start  */

.latest {
    padding: 57px 0;
    background-color: #3A3054 ;
}
.latest__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: #FFFFFF;
}
.latest__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    width: 197px;
    display: block;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 40px 12px 40px;
    text-decoration: none;
    color: #FFFFFF;
    background: #2BD0D0;
    border-radius: 28px;
}
.latest__link:hover {
    background-color: #9AE3E3;
}
/* latest section finish */

/* site main finsh  */

/* site-footer start  */
.site-footer {
    background-color: #232127;
    padding-top: 71px;
    padding-bottom: 70px;
}
.site-footer__inner {
    display: flex;
    align-items: start;
}
.site-footer__list {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: 261px;
    padding-left: 0;
}
.service:nth-child(1) {
    margin-right: 52px;
}
.service:nth-child(2) {
    margin-right: 108px;
}
.service:nth-child(3) {
    margin-right: 101px;
}
.service__title {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    margin-bottom: 22px;
    color: #FFFFFF;
}
.service__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.service__item {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.234375px;
    margin-top: 10px;
    color: #BFBFBF;
}
.service__item:hover {
    color: #2BD0D0;
}
.socials {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.socials__link {
    display: block;
    margin-left: 24px;
}
/* site footer finish */